<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { LANG_PATH } from '../common/constants';
import { Faq, CropInfinityHero, NextStep } from '../components/common/index';
import { SalesForm } from '../components/sales/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Faq,
    SalesForm,
    CropInfinityHero,
    NextStep,
  },
  async asyncData({ $content, error, route }: any) {
    try {
      let sales;
      if (route.path.includes(LANG_PATH.GERMAN)) {
        sales = await $content(`${LANG_PATH.GERMAN}sales`).fetch();
      } else {
        sales = await $content('sales').fetch();
      }
      return { sales };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    const metaInfo = getPageMetadata((this as any).sales, this.$route.path);

    if (this.$route.path.includes(LANG_PATH.GERMAN)) {
      metaInfo.meta.push({
        hid: 'robots',
        name: 'robots',
        content: 'noindex,nofollow',
      });
    }

    return metaInfo;
  },
});
</script>

<template>
  <section>
    <component
      :is="component.name"
      v-for="(component, index) in sales.components"
      :key="component.name + `-${index}`"
      :data="component.data"
    />
    <section class="slp-bg-surface-800">
      <faq :data="sales.faq" />
    </section>
    <SlpContainer variant="gradient">
      <NextStep :variant="2" :custom-body="sales.next_step" />
    </SlpContainer>
  </section>
</template>
